#address-list-container {
  background-color: white;
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 16px;
}

#address-container {
  flex: 0 0 50%;
}

#map {
  flex: 0 0 50%;
}

.order-group {
  border-bottom: 1px solid $my_light;
  padding: 16px 8px 8px 0;
  margin-bottom: 16px;
  margin-right: 8px;

  h5 {
    color: $my_dark_one;
  }
}

.list-order-item {
  border: 1px solid $my_light;
  border-radius: 50px;
  margin: 8px 0;
  padding: 4px;
  cursor: grab;

  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  &:active {
    cursor: grabbing;
  }

  &:ghost {
    filter: grayscale(1);
    opacity: 0.8;
  }
}

@media(min-width: 1200px) {
  #address-list-container {
    display: flex;
    justify-content: space-between;
  }
}

.pop-up {
  max-width: 200px;
  padding: 8px;
  
  p {
    margin: 0;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#group-color-1 {
  margin-left: 8px;
  background-color: blue;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

#group-color-2 {
  margin-left: 8px;
  background-color: red;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

#group-color-3 {
  margin-left: 8px;
  background-color: green;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

#group-color-4 {
  margin-left: 8px;
  background-color: yellow;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.footer-address-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .select2 {
    width: 125px;
    height: 100%;
    border-radius: 50px;
    padding-left: 16px;
    margin-left: 8px;
    border: 1px solid $my_light;

    &:focus {
      outline: 0;
    }
  }
}