@import "new";
@import "show";
@import "geoloc";

#orders-list-container {
  background-color: white;
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 16px;
}

#orders-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orders-list {
  margin-top: 16px;
  width: 100%;
  text-align: center;
  
  details {
    color: $my_dark_one;
    margin: 16px 0;

    summary {
      font-size: 18px;
    }
  }
}

.orders-header {
  display: flex;
  color: $my_dark_one;
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
  padding-bottom: 16px;
}

.tabs-item-time {
  flex: 0 0 18%;
}

.tabs-item-customer {
  flex: 0 0 18%;
}

.tabs-item-price {
  flex: 0 0 12%;
}

.tabs-item-address {
  flex: 0 0 24%;
}

.tabs-item-city {
  flex: 0 0 12%;
}

.tabs-item-status {
  flex: 0 0 15%;
}

.order-row {
  display: flex;
  align-items: center;
  font-size: 16px;
  border: 1px solid $my_light;
  height: 42px;
  border-radius: 50px;
  margin-bottom: 16px;

  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

#btn-regroup-loc {
  padding: 8px;
}

.order-status-pending {
  background-color: $red;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px;
}

.order-status-delivered {
  background-color: $green;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px;
}

.order-status-delivering {
  background-color: $orange;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px;
}

.order-status-ready {
  background-color: #797174;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px;
}
