#new-order-container {
  display: flex;
  height: 500px;
  position: relative;
  padding-right: 230px;
  height: calc(100vh - 120px) !important;
}

#order-content {
  flex-grow: 1;
  height: calc(100vh - 120px) !important;
  overflow-y: auto;

  h4 {
    color: $my_dark_one;
  }
}

#order-sidebar {
  position: absolute;
  border-left: 1px solid $my_light;
  min-height: calc(100vh - 73px) !important;
  top: -20px;
  right: -35px;
  width: 230px;
  background-color: white;
  padding: 8px;
  display: flex;
  flex-direction: column;

  h5 {
    text-align: center;
    color: $my_dark_one;
    font-size: 14px;
    font-weight: bold;
  }
}

#order-customer-infos {
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 4px;

  h6 {
    color: $my_dark_one;
    font-size: 12px;
    font-weight: bold;
  }

  p {
    color: $my_dark_one;
    font-size: 12px;
    margin: 0;
  }
}

#order-products-sidecontainer {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 4px;

  h6 {
    color: $my_dark_one;
    font-size: 12px;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

  p, li, .form-group {
    color: $my_dark_one;
    font-size: 12px;
    margin: 0;
  }
}

#btn-create-order {
  text-align: center;
  padding: 8px;
  border-style: hidden;

  &:focus {
    outline: 0;
  }
}

#total-order-price {
  text-align: end;
  margin-top: 8px;
}

#order-categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;;
  grid-gap: 16px;
  margin-top: 16px;
}

.category-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 1px solid $my_light;

  .collection_radio_buttons {
    padding-top: 3px;
  }
}

#order-product-list {
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 2px;

    input {
      width: 20px;
      text-align: center;
    }
  }

  .fa-trash-alt {
    margin: 0 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

.fa-euro-sign {
  margin: 0 5px 0 2px;
}

.order-category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid $my_light;
  border-radius: 4px;
  min-width: 160px;
  height: 160px;
  text-align: center;
  color: $my_dark_one;
  font-size: 20px;
  padding: 16px 0;
  border-radius: 10px;

  img {
    margin: 8px 0;
    width: 70px;
    height: 70px;
  }
  
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    cursor: pointer;
  }
}

.order-product-card {
  display: flex;
  background-color: white;
  border: 1px solid $my_light;
  border-radius: 4px;
  min-width: 160px;
  height: 200px;
  color: $my_dark_one;
  font-size: 20px;
  border-radius: 10px;

  .order-img-container {
    background-position: center;
    flex: 0 0 50%;
    height: 100%;
    padding: 12px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .product-content {
    flex: 0 0 50%;
    padding: 8px;
    position: relative;
    color: $my_dark_one;

    .order-product-desc {
      font-size: 14px;
    }

    .order-product-price {
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 5px;
    }
  }
}

#order-display-categories, #order-display-products {
  padding: 16px 8px 0 8px;
}

#btn-back-categories {
  padding: 8px 16px;
  margin: 8px 0 16px 0;

  &:hover {
    cursor: pointer;
  }
}

#order-products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 16px;
}

@media(max-width: 1600px) {
  #order-products-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 1400px) {
  #order-categories-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1200px) {
  #order-categories-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #order-products-container {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 1000px) {
  #order-categories-container {
    grid-template-columns: 1fr 1fr;
  }
}
