// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$my_primary: #bc9545;
$my_secondary: #edcf8b;
$my_background: #291a0a;
$my_light: #d7cdbc;
$my_dark_one: #3c3a3d;
$my_dark_two: #171717;
