<div class="roles">
  <div class="role">
    <%= render "user_admin" %>
  </div>
  <div class="role">
    <%= render "user_manager" %>
  </div>
  <div class="role">
    <%= render "user_rider" %>
  </div>
</div>

