#customers-list-container {
  background-color: white;
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 16px;
}

#customers-list {
  margin-top: 16px;
  width: 100%;
  text-align: center;
}

#customers-header {
  display: flex;
  color: $my_dark_one;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 16px;

  .tabs-item-name {
    flex: 0 0 20%;
  }
  
  .tabs-item-phone {
    flex: 0 0 20%;
  }
  
  .tabs-item-address {
    flex: 0 0 30%;
  }
  
  .tabs-item-city {
    flex: 0 0 15%;
  }
  
  .tabs-item-actions {
    flex: 0 0 15%;
  }
}

.customer-row {
  display: flex;
  align-items: center;
  font-size: 16px;
  border: 1px solid $my_light;
  height: 54px;
  // border-radius: 50px;
  margin-bottom: 16px;

  .fa-user-edit {
    font-size: 28px;
  }

  .tabs-item-name {
    flex: 0 0 20%;
  }
  
  .tabs-item-phone {
    flex: 0 0 20%;
  }
  
  .tabs-item-address {
    flex: 0 0 30%;
  }
  
  .tabs-item-city {
    flex: 0 0 15%;
  }
  
  .tabs-item-actions {
    flex: 0 0 15%;
  }
}

