#delivery-route-container {
  display: flex;
  background-color: white;
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 16px;
  color: $my_dark_one;
  height: calc(100vh - 115px);
}

#route-infos-container {
  flex: 0 0 50%;
  padding-right: 16px;
  overflow-y: auto;

  p {
    margin-bottom: 8px;
  }
}

#route-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }
}

#delivery-map-container {
  flex: 0 0 50%;
  height: 100%;
  padding-left: 16px;
}

#delivery-map {
  border: 1px solid $my_light;
  border-radius: 10px;
}

.route-order-infos {
  display: flex;
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
  
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.route-order-content {
  flex: 0 0 60%
}

.route-order-products {
  flex: 0 0 40%
}
