#delivery-route-container {
  display: flex;
  background-color: white;
  align-items: center;
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 16px;
  color: $my_dark_one
}

#route-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#route-infos-container {
  flex: 0 0 50%;
  padding-right: 16px;

  p {
    margin-bottom: 8px;
  }
}

#delivery-map {
  flex: 0 0 50%;
  border: 1px solid $my_light;
}

.route-order-infos {
  display: flex;
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
  
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.route-order-content {
  flex: 0 0 60%
}

.route-order-products {
  flex: 0 0 40%
}
