.btn-large {
  color: white !important;
  font-weight: bold !important;
  border-radius: 50px !important;
  background-color: $my_primary !important;
  border: none !important;
  padding: 8px 16px !important;

  &:focus {
    outline: 0;
  }
}

#btn-customer {
  width: 100%;
}