.cards_product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 24px;
  border: solid 3px $my_primary;
  overflow-y: auto;
  height: calc(100vh - 170px);
  border-radius: 12px;
}

.card_product {
  border: solid 2px $my_secondary;
  border-radius: 12px;
}

.image_product {
  width: 240px;
  height: 160px;
  border-radius: 12px;
  margin: 0 auto;
}

.product_info {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 8px;

  h6 {
    color: $my_dark_one;
  }
  .name {
    padding-left: 16px;
  }
  .price {
    padding-right: 16px;
  }
}

.icon {
  color: $my_primary;
}

.btn-product {
  padding: 14px;
}
