.category_name {
  margin-top: 26px;
  .name {
    font-size: 28px;
    color: $my_dark_one;
  }
}

.cards_product{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 16px;
}

@media (max-width: 1400px) {
  .cards_product{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .cards_product{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .cards_product{
    grid-template-columns: 1fr 1fr;
  }
}

.card_product{
  min-width: 200px;
  height: 200px;
  background-color: white;
  font-size: 14px;
  padding-bottom: 8px;
  padding-top: 4px;
  border-radius: 10px;
  border: 1px solid #d7cdbc;
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  .product_info {
    display: flex;
    justify-content: space-around;
    .name-container{
      max-width: 150px;
    }
  }
}

.show-product{
  background-color: white;
  border: none;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  .image_product {
    width: 170px;
    height: 130px;
    padding-bottom: 9px;
    object-fit: cover;
  }
}



