#login {
  background: white;
  padding: 10px 20px;
  margin-top: 16px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    border: solid;
  }
}

.form-control {
  border-radius: 50PX !important;
}

#form-container {
  background-color: white;
  border: 1px solid $my_light;
  border-radius: 10px;
  padding: 16px;
}

