<div id="form-container" class="container">
  <%= simple_form_for(@product) do |f| %>
    <div id="info">
      <%= f.input :name, placeholder: "starter" %>
      <%= f.submit "Submit", class: "button" %>
    </div>
  <% end %>
</div>
