<div class="container">
  <div class="cards">
    <% @products.each do |product| %>
      <div class="card">
        <%= product.name %>
        <%= product.price %>
        <%= product.category %>
        <%= product.sub_category %>
      </div>
    <% end %>
  </div>
</div>
