<%= render "searchbar" %>
<div class="cards_product">
  <% if @products.empty?%>
    <%= render "product_card", products: @products_all %>
  <% else %>
    <%= render "product_card", products: @products %>
   <% end %>
</div>
<div class="text-right pt-4">
  <%= link_to "Create Product", new_product_path, class: "btn-large btn-product" %>
</div>
