.image_show {
  width: 400px;
  height: 300px;
  margin: 24px;
  margin-left: 33px;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.category-name-show {
  color: $my_dark_one;
}

.description-product {
  padding-top: 16px;
  margin: 0;
}

.price-container {
  display: flex;
  justify-content: space-around;
  span {
    font-size: 16px;
  }
}

